body{
    background-color:#0489B1;
}

h1{
    text-align: center;
    font-family: Impact,Georgia,Verdana;
    margin:auto;
    margin-top:2%;
}

.iconMensaje {
    font-size:75px;
}

.iconHand{
    font-size:45px;
    /*margin-left: 50%;*/
}

.iconcasa{
    font-size:40px;  
}
div.cajaBase1{
    margin:auto;
    margin-top:3%;
    margin-left:20%;
    width: 20%;
    background:red;
    float: left;
    text-align: center;
    color:#fff;
    font-family: Impact ,Georgia,Verdana;
    display:inline;
}

div.cajaBase2{
    margin:auto;
    margin-top:3%;
    width: 20%;
    background:yellow;
    float: left;
    text-align: center;
    color:#fff;
    font-family: Impact ,Georgia,Verdana;
    display:inline;
}

div.cajaBase3{
    margin:auto;
    margin-top:3%;
    width: 20%;
    background:green;
    float: left;
    text-align: center;
     color:#fff;
     font-family: Impact ,Georgia,Verdana;
     display:inline;
}

#deci11{
      display:block;
      clear: both;
      margin-left:45%;
      margin-top:7%;

}
#deci2{
    display:block;
    clear: both;
    margin-left:40%;
    margin-top:2%;

}

.button {
    background: #C0C0C0;
    color:#636e72;
    display:block;
    text-decoration: none;
    width:12%;
    font-size:1.25em;
    margin:20px;
    padding:10px 0px;
    text-align: center;
    box-shadow: 0px 3px 0px #373c3c;
    }

.button.radius{
border-radius: 50px;
}

.button.radius.inicio{
    width:55%;
}

.icon-home3:before {
        content: "\e902";
}

.button:hover {
    box-shadow: 0px 0px 0px;
    padding-top: 7px;
}

#decifrar{
    display:block;
    clear: both;
    margin-left:45%;
    margin-top:2%;
}

#deci3{
     display:block;
    clear: both;
    margin-left:40%;
    margin-top:2%;
}

#deci4{
    display:block;
    clear: both;
    margin-left:80%;
    margin-top:2%;
}

#volverainicio2{
    display:inline-block;
    width:45%;
}

#salida_de_decifrado{
    display:inline-block;
    margin-left:2%;
}

